@tailwind base;
@tailwind components;
@tailwind utilities;

/* SIde Bar */
#sideBar {
    width: 72px;
    height: 100vh;
}

/* Side Bar Icons */
.icon-wrapper:hover > .icon {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

/* Feed */
#feed{
    max-width: 630px;
    width: 100%;
}

/* Status List */
.profile-pic-wrapper-outer{
    padding: 2px;
    box-sizing: content-box !important;
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}

.profile-pic-wrapper-outer .profile-pic-wrapper-inner{
    height: 100%;
    width: 100%;
    border-width: 3.5px;
    border-style: solid;
    border-radius: inherit;
    overflow: hidden;
}

.profile-pic-wrapper-inner .status-avatar{
    border-radius: inherit;
}